---

---

<div>
    <div class="content-info">
        <div class="img-content">
            <img src="src/assets/fotoPerfil.png" alt="" class="imagen-perfil" />
        </div>
        <div class="content">
            <h1>Carol Guerrero</h1>
            <span class="sub-text"
                >¡Hola! Soy Carol Paola Guerrero Acosta, psicóloga apasionada
                por transformar los espacios laborales. Me especializo en
                Seguridad y Salud en el Trabajo (SST), pero con un plus: no solo
                me enfoco en cumplir normas, sino en entender a las personas
                detrás de los puestos. ¿El objetivo? Que sus equipos trabajen
                felices y sin riesgos.</span
            >
            <div class="content-buttons">
                <button>Trayectoria / Formación</button>
                <button>Contactame</button>
            </div>
        </div>
    </div>
    <div class="content-icons">
        <span class="material-symbols-outlined"> neurology </span>
        <div class="linea"></div>
        <span class="material-symbols-outlined"> apartment </span>
    </div>
    <div class="content-services">
        <h2>Mis Servicios</h2>
        <div class="content-services-list">
            <div class="card-services">
                <h3>Seguridad y Salud en el Trabajo (SST)</h3>
                <ul>
                    <li>Evaluación e intervención de riesgos psicosociales</li>
                    <li>Investigación de accidentes e incidentes laborales</li>
                    <li>
                        Diseño e implementación de programas de bienestar
                        laboral
                    </li>
                </ul>
                <a href="/servicios/seguridad-salud-trabajo">
                    <button>Conoce más</button>
                </a>
            </div>
            <div class="card-services">
                <h3>Psicología Organizacional y Gestión del Talento</h3>
                <ul>
                    <li>Selección de personal con enfoque en seguridad</li>
                    <li>Capacitación en factores humanos y seguridad</li>
                    <li>Clima y cultura organizacional</li>
                    <li>
                        Actualización de áreas y Departamento HSEQ - SST,
                        Recursos Humanos
                    </li>
                </ul>
                <a
                    href="/servicios/psicologia-organizacional-gestion-del-talento"
                >
                    <button>Conoce más</button>
                </a>
            </div>
            <div class="card-services">
                <h3>Consultoría en Sistemas de Gestión de SST (SG-SST)</h3>
                <ul>
                    <li>Elaboración de políticas y procedimientos</li>
                    <li>Elaboración de políticas y procedimientos</li>
                </ul>
                <a href="/servicios/consultoria-sistemas-de-gestion-de-sst">
                    <button>Conoce más</button>
                </a>
            </div>
            <div class="card-services">
                <h3>Manejo de crisis y primeros auxilios psicológicos</h3>
                <ul>
                    <li>Manejo de crisis y primeros auxilios psicológicos</li>
                    <li>Atención individual o grupal</li>
                    <li>
                        Programas de prevención del acoso laboral (ley 1010 de
                        2006)
                    </li>
                </ul>
                <a href="/servicios/capacitacion-formacion">
                    <button>Conoce más</button>
                </a>
            </div>
            <div class="card-services">
                <h3>Capacitación y Formación</h3>
                <ul>
                    <li>Talleres de prevención</li>
                    <li>Liderazgo en SST</li>
                </ul>
                <a href="/servicios/capacitacion-formacion">
                    <button>Conoce más</button>
                </a>
            </div>
        </div>
        <div>
            <h2>Volver</h2>
        </div>
    </div>
</div>

<style>
    a {
        all: unset;
        cursor: pointer;
    }
    .linea{
        width: 70%;
        height: 2px;
        background-color: white;
        margin: 0% 5%;
        border-radius: 5px;
    }
    .content-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10% 0%;
    }
    .content-info {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5%;
    }
    .imagen-perfil {
        width: 70%;
    }
    .img-content {
        display: flex;
        justify-content: center;
        width: 35%;
    }
    .content {
        width: 70%;
        text-align: center;
    }
    .content-buttons {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .content-services {
        text-align: center;
    }
    .content-services-list {
        margin: 0% 5%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    button {
        all: unset;
        background-color: #4d45ff;
        color: white;
        border-radius: 5px;
        padding: 2% 5%;
        cursor: pointer;
        font-size: 12px;
        margin-bottom: 2%;
    }
    .card-services button {
        width: 70%;
    }
    .card-services {
        background-color: white;
        border-radius: 5%;
        padding: 5% 2%;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
        box-shadow: 0 4px 9px rgba(0, 0, 0, 0.2);
    }
    ul {
        padding: 6% 10%;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 2px;
        font-size: 12px;
        margin: 0%;
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        font-size: 11px;
    }
    h3 {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-size: 12px;
        font-weight: 500;
        margin: 0%;
    }
    .sub-text {
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        font-size: 12px;
    }
</style>
